{% extends "base.html.twig" %}

{% block title %}Supprimer un joueur
{% endblock %}

{% block body %}
	<h1>Supprimer un joueur</h1>

	<p>Êtes-vous sûr de vouloir supprimer le joueur
		{{ player.name }}
		?
	</p>

	<a href="/player/delete/{{ player.id }}">
		<button>Supprimer</button>
	</a>

	<a href="{{ path('app_player') }}">
		<button>Annuler</button>
	</a>

{% endblock %}
