{% extends 'base.html.twig' %}

{% block title %}Créer un joueur{% endblock %}

{% block body %}
    <h1>Créer un joueur</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Créer</button>
    {{ form_end(form) }}

{% endblock %}