{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

<h1>Bienvenue dans le jeu !</h1>

<a href="{{ path('app_player') }}">Gérer les joueurs</a>

<br><br>

<a href="#" style="color: gray; pointer-events: none;">Gérer les catégories (bientôt)</a>

{% endblock %}