{% extends "base.html.twig" %}

{% block title %}{% endblock %}

    {% block body %}
    <h1>Bienvenue dans le jeu !</h1>
    <p>Profitez de votre aventure</p>

    <p>Votre message : <span style="color: green">{{ information }}</span></p>
    {% endblock %}